$salad: #ebefe2;
$beige: #f4f5f0;
$beige-blog: #faf8f0;
$main-font-color: #383f43;
$green: #4e8839;

//mixins
@import 'common/helpers/mixins';

@import 'fonts';

@import 'common/setups';
@import 'common/blocks/**/*';





