.footer
    .footer-black
        .footer-black__section
            .footer-black__section-first
                p Этот сайт я сделала в рамках обучения.
        .footer-black__section
            .footer-black__section-second
                ul.footer-black__menu
                    li.menu__item
                        a(href="#").menu__link Мои работы
                    li.menu__item
                        a(href="about.html").menu__link Обо мне
                    li.menu__item
                        a(href="blog.html").menu__link Блог
                    li.menu__item
                        a(href="login.html").menu__link  Авторизация
                .socials-footer
                    include ../common/socials
        .footer-black__section
            .footer-black__section-third
                p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                .author  — Martin Golding
    .footer-green
        p © Колотушкина Дарья | Создано с любовью  | 2018